
.global-wrapper{
    max-width: 670px;
    @include screen(t,m){
        padding: 0 10px;
    }
}
.lc-header-wrap{
    text-align: center;
    padding: 20px 0;
    @include screen(m){
        display: block;
        padding: 10px 0;
    }
    h1{
        margin: 0;
        #lcLogo{
            img{
                height: 40px;
                @include screen(m){
                    height: 24px;
                }
            }
            span{
                height: 0;
                width: 0;
                font-size: 0;
                overflow: hidden;
                opacity: 0;
            }
        }
    }
    .lc-header-text{
        font-size: 12px;
        color: #aaa;
        padding-top: 10px;
        p{
            margin: 0;
        }
    }
}

.lc-categories{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    button{
        color: #888;
        font-weight: 500;
        padding: 4px 8px;
        margin: 0 4px;
        &:hover{
            color: $text-navy;
        }
    }
}

.lc-post-list{
    padding-top: 10px;
}

footer{
    border-top: #eee;
}
